*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255, 255, 255);
    font-family: 'Poppins', 'sans-serif', 'icomoon', "Open Sans";
    font-size: 16px;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}


/* iconos */

.redes__container {
    font-family: "arial";
    width: 100%;
    text-align: center;
    margin-top: 2.2em;
    background-color: rgb(32, 30, 30);
    padding: .5em 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.agreganos_banner {
    position: fixed;
    color: white;
    background-color: rgb(32, 30, 30);
    padding: 0 .5em 0 0;
    display: inline-block;
    font-size: 1em;
    text-align: right;
    width: 100%;
    font-style: italic;
    z-index: 100;
}

.agreganos_banner span {
    font-style: normal;
    font-size: 1.5em;
    padding: 0 0 0 .2em;
}

.wm {
    padding: .5em .5em .5em 0;
}

.banner_contenedor {
    background: rgb(245, 24, 109);
    text-align: center;
}

.banner-img {
    padding: 1.3em;
}


/* seccion de header */

.slice__gallery {
    padding: 1em 0;
}

.navegacion__menu {
    font-size: 1em;
    width: 100%;
}

.navegacion__ul {
    display: block;
}

.navegacion__li {
    text-align: right;
    background: #73EABF;
    color: white;
    padding: .5em;
    display: inline-block;
}

.navegacion__li:hover {
    background: #ffffff;
    color: black;
}

.main__contenedor {
    display: flex;
    padding: 0;
}

.section__home {
    display: block;
    display: flex;
    flex-wrap: wrap;
}

.article__home {
    width: 100%;
}


/* seccion de productos */

section {
    background: white;
    padding: .5em 0;
}

section article {
    width: 100px;
    margin: 1em 0;
    background: white;
}

section article .marco {
    margin: .5em 0;
    border-radius: 5px;
    padding: 0;
}

section article .marco .product {
    margin-bottom: 1px;
}

section article .marco .description {
    margin-bottom: 1px;
}

section article .marco .price {
    border-radius: 0 0 5px 5px;
}

section article picture img {
    border-radius: 5px 5px 0 0;
}

section article div {
    background: #73EABF;
    margin: 0;
    padding: 1em;
}

.block {
    height: 20em;
    width: 100%;
    background-color: rgb(245, 24, 109);
}

.footerPinkylin {
    text-align: center;
}

.slide {
    display: flex;
}

.categoria {
    width: 100px;
    padding: 1em 0;
    /* margin: 1em; */
}

.redes__contenedor {
    background: white;
    bottom: 0;
    margin: 0;
}

.redes__titulo {
    color: rgb(32, 30, 30);
    padding: .5em 0 1em;
    text-align: center;
    width: 100%;
    margin: 0;
}

.derechos {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: .5em;
    color: rgba(255, 255, 255, 0.582);
    width: 100%;
    font-size: .8em;
}

.redes__sociales {
    text-align: center;
    padding: 2em 0;
    /* background-color: red; */
}

.contenedor-imagen {
    display: inline;
    margin: 0 .3em;
    padding: 0;
}

#navPro {
    display: none;
}

.menuPosicion {
    padding: 1em;
    border: none;
    display: block;
    background-color: rgb(32, 30, 30);
    width: 100%;
    text-align: left;
    color: white;
    cursor: pointer;
}

.subir {
    position: fixed;
    bottom: 1em;
    right: .5em;
    font-size: 3em;
    color: rgb(115, 234, 191);
    background-color: white;
    border-radius: 50%;
}

em {
    display: block;
    height: 1px;
    margin: 1em 0;
    background-color: rgb(192, 192, 192);
}

.pad {
    padding: 1em;
}

.text {
    font-size: 1.2em;
}


/* imagen corporativa */

.imagenCorporativa {
    background-color: #333E48;
    display: block;
    width: 100%;
    padding: 1em 0 0 0;
    border-radius: 5px;
    margin-top: 1.5em;
}

@media screen and (min-width: 0px) {
    .agreganos_banner {
        display: flex;
        justify-content: center;
    }
    .redes__container {
        text-align: right;
        display: block;
        display: flex;
        justify-content: space-around;
    }
    .navegacion__ul {
        display: block;
    }
    .navegacion__ul {
        text-align: right;
        flex-direction: row;
    }
    .navegacion__li {
        display: block;
        width: 100%;
        padding: 1em 4em;
        color: rgb(0, 0, 0);
        text-align: left;
    }
    .article__home {
        flex-wrap: wrap;
        width: 100%;
    }
    .redes {
        padding: 0;
        margin: 0;
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    #navPro {
        display: block;
    }
    .menuPosicion {
        width: 0;
        height: 0;
        padding: 0;
    }
    .redes__container {
        padding: .5em 0;
        display: block;
        justify-content: flex-end;
    }
    .redes__container a {
        margin: 0 .5em 0 0;
        padding: .5em;
    }
    .agreganos_banner {
        justify-content: flex-end;
    }
    .navegacion__ul {
        display: flex;
        flex-flow: row wrap;
        flex-direction: wrap-reverse;
        justify-content: flex-end;
    }
    .navegacion__li {
        display: inline-block;
        margin: 0;
    }
    .article__home {
        flex-wrap: wrap;
        width: 50%;
    }
}

@media screen and (min-width: 1280px) {
    .agreganos_banner {
        font-size: 1.5em;
    }
    .redes__container {
        font-size: 1.3em;
    }
    .navegacion__ul {
        margin-top: 1em;
        justify-content: center;
    }
    .article__home {
        flex-wrap: wrap;
        width: 25%;
    }
}