<!DOCTYPE html>
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Pinky Liin: Moda Intima, Bogotá Colombia
		link(rel="stylesheet" href="/css/ed-grid.css")
		link(rel="stylesheet" href="/css/iconos.css")
		link(href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet")
		link(rel="stylesheet" href="/css/css.css")

	body(class="de")
		main(class="main-container full")
			header(class="header ed-container full")
				//- logo
				div(class="ed-container full")
					div(class="ed-item s-100 redesPinkyliin")
						a(href="#"): div(class="icon-instagram")
						a(href="#"): div(class="icon-facebook2")
						a(href="#"): div(class="icon-twitter")
						a(href="#"): div(class="icon-whatsapp")
						a(href="#"): div(class="redesPinkyLiin-img")
							img(src="/img/Pinky-liin-moda-intima-png1.png" alt="")
				//- barra de titulo
				div(class="logoPinkyliin ed-item s-100")
					picture(class="")
						img(src="/img/Pinky-liin-moda-intima-png1.png" alt="pinky liin")
				//- navegacion
				<nav id="ioMenu" class="nav-nav">
					ul(class="nav-ul")
						li(class="nav-li"): a(onclick="navSection('home0')" class="nav-a" href="/") Pinky Liin
						li(class="nav-li"): a(onclick="navSection('home1')" class="nav-a" href="#") Lencería
						li(class="nav-li"): a(onclick="navSection('home2')" class="nav-a" href="#") Brasieres
						li(class="nav-li"): a(onclick="navSection('home3')" class="nav-a" href="#") Pijamas
						li(class="nav-li"): a(onclick="navSection('home4')" class="nav-a" href="#") Sport
						li(class="nav-li"): a(onclick="navSection('home5')" class="nav-a" href="#") Conjuntos Baño

			main(class="main__contenedor ed-container full")
				section(id="home0" class="home0 ed-container full")
					//- articulos
					article(class="ed-item")
						div(class="marco")
							picture
								img(src="/img/SofiaHenao.jpg" alt="")
								div(class="ed-item product") Producto
								div(class="ed-item description") Description
								div(class="ed-item price") Price

					article(class="ed-item")
						div(class="marco")
							picture
								img(src="/img/SofiaHenao.jpg" alt="")
								div(class="ed-item product") Producto
								div(class="ed-item description") Description
								div(class="ed-item price") Price

					article(class="ed-item")
						div(class="marco")
							picture
								img(src="/img/SofiaHenao.jpg" alt="")
								div(class="ed-item product") Producto
								div(class="ed-item description") Description
								div(class="ed-item price") Price
					
					article(class="ed-item")
						div(class="marco")
							picture
								img(src="/img/SofiaHenao.jpg" alt="")
								div(class="ed-item product") Producto
								div(class="ed-item description") Description
								div(class="ed-item price") Price

				section(id="home1" class="slide ed-item" style="display: none;") none 1
				section(id="home2" class="slide ed-item" style="display: none;") none 2
				section(id="home3" class="slide ed-item" style="display: none;") none 3
				section(id="home4" class="slide ed-item" style="display: none;") none 4
				section(id="home5" class="slide ed-item" style="display: none;") none 5

		//- footer de Pinky Liin
		footer(class="footerPinkyliin ed-container full")
			//- Categorias de nuestros productos
			//- div(class="categorias ed-container full")
			//- 	h3(class="ed-item full") Categorias <br> Nuestros Productos
			//- 	div(class="categoria s-25 ed-item m-50 l-25")
			//- 		h4(class="") CONJUNTOS
			//- 	div(class="categoria s-25 ed-item m-50 l-25")
			//- 		h4(class="") SENSUAL
			//- 	div(class="categoria s-25 ed-item m-50 l-25")
			//- 		h4(class="") PIJAMAS
			//- 	div(class="categoria s-25 ed-item m-50 l-25")
			//- 		h4(class="") BRASIER

			//- //- imagenes de pinki liin
			//- div(class="ed-container full")
			//- 	div(class="ed-item m-50 l-25")
			//- 		picture: img(src="img/Pinky-liin-moda-intima-png2.png" alt="Pinky liin moda intima")
			//- 	div(class="ed-item m-50 l-25")
			//- 		picture: img(src="img/Pinky-liin-moda-intima-png2.png" alt="Pinky liin moda intima")
			//- 	div(class="ed-item m-50 l-25")
			//- 		picture: img(src="img/Pinky-liin-moda-intima-png2.png" alt="Pinky liin moda intima")
			//- 	div(class="ed-item m-50 l-25")
			//- 		picture: img(src="img/Pinky-liin-moda-intima-png2.png" alt="Pinky liin moda intima")

			//- Redes Sociales
			address(class="ed-container full redes__contenedor")
				h4(class="redes__titulo") Siguenos en nuestras redes sociales
				div(class="ed-item full redes__sociales")
					a(class="ed-item icono icon-whatsapp" href="#") 
					a(class="ed-item icono icon-facebook2"  href="#") 
					a(class="ed-item icono icon-twitter" href="#") 
					a(class="ed-item icono icon-instagram" href="#")

			//- Contenedor otras marcas
			aside(class="ed-container full contenedorMarcas")
				article(class="ed-item full")
					figure(class="contenedor-imagen")
						img(class=" ed-item" src="/img/primaDonna.jpg" alt="")
					figure(class="contenedor-imagen")
						img(class=" ed-item" src="/img/victoriaSecret.jpg" alt="")
					figure(class="contenedor-imagen")
						img(class=" ed-item" src="/img/Pink.jpg" alt="")
					figure(class="contenedor-imagen")
						img(class=" ed-item" src="/img/LovePink.jpg" alt="")
					figure(class="contenedor-imagen")
						img(class=" ed-item" src="/img/cklass.jpg" alt="")
					figure(class="contenedor-imagen")
						img(class=" ed-item" src="/img/ilusion.jpg" alt="")
					figure(class="contenedor-imagen")
						img(class=" ed-item" src="/img/lacoste.jpg" alt="")
					figure(class="contenedor-imagen")
						img(class=" ed-item" src="/img/ninegirls.jpg" alt="")
					figure(class="contenedor-imagen")
						img(class=" ed-item" src="/img/Pivalia.jpg" alt="")
	script(src="js/js.js")